/**************************************************
Layout
**************************************************/
*{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body, html{
	margin: 0;
	height: 100%;
	min-width: 1140px;
}
.header{
	height: 100px;
	background-color: #333;
	border-bottom: 5px solid #2aa2cf;
	margin-bottom: 30px;
}
.container{
	width: 1140px;
	margin: auto;
}
.logo{
	width: 260px;
	margin: 10px 30px 10px 0;
	float: left;
}
.nav{
	float: left;
	width: 850px;
	margin-top:25px;
}
.offer{
	width: 360px;
	float: left;
	margin-right: 30px;
	border: solid 1px #2aa2cf;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
}
.last{
	margin-right: 0 !important;
}
.footer{
	height: 50px;
	background-color: #333;
	border-top: 5px solid #2aa2cf;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	margin-top: -55px;
}
.clear{
	clear: both;
}
.push{
	height: 85px;
	clear: both;
}
.page{
	min-height: 100%;
}
/**************************************************
Navigation
**************************************************/
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.nav ul li{
	float: left;
	margin: 0 15px;
	position:relative;
}
.nav ul li:last-child{
	margin-right: 0;
}
.nav ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: lowercase;
	line-height: 50px;
	padding: 0 20px;
	display: block;
	border-radius: 5px;
}
.active > a {
	background-color: #2aa2cf;
}
.nav ul li a:hover{
	background-color: #2a82d2;
}
.nav ul li ul li {
	float: none;
	margin: 0;
}
.nav ul li ul {
	background-color: #333;
	position: absolute;
	top: 50px;
	left: 0;
	white-space: nowrap;
	display: none;
	z-index: 1000;
	padding-top: 25px;
}
.nav ul li ul li a{
	margin: 0;
	border-radius: 0;
}
.nav ul li:hover ul{
	display: block;
}
.nav ul li ul li:first-child{
	border-top: 5px solid #2aa2cf;
}
.nav ul li:hover > a{
	background-color: #2a82d2;
}
/**************************************************
Social links
**************************************************/
.social{
	width: 52px;
	height: 136px;
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -68px;
}
.social a{
	width: 32px;
	height: 32px;
	margin: 10px;
	display: block;
	text-indent: -10000px;
	background-image: url(images/social-sprite-32.png);
	transition: border-radius 0.3s;
	border-radius: 50%;
}
.social a:hover{
	border-radius: 5px;
}
#twitter{
	background-position: 0 -32px;
}
#google{
	background-position: 0 -64px;
}
#facebook:hover{
	background-position: -32px 0;
}
#twitter:hover{
	background-position: -32px -32px;
}
#google:hover{
	background-position: -32px -64px;
}
/**************************************************
First page
**************************************************/
.slide{
	background-image: url(images/shadow-50.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 50px;
	height: 500px;
	box-sizing: border-box;
}
.slide .container{
	position: relative;
}
.slide img{
	width: 1140px;
	height:auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.slide img.visible{
	z-index: 2;
}
.slide img.next{
	z-index: 1;
}
.controls{
	text-align:center;
	margin-bottom: 30px;
}
.controls a{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 4px solid #2aa2cf;
	text-indent: -10000px;
	display: inline-block;
	background-color: #efefef;
}
.controls a.current{
	border-color: #2a82d2;
	background-color: #333;
}
.controls a:hover{
	border-color: #2a82d2;
}
.offer h1, .offer p{
	margin: 0;
	text-align:center;
	background-color: #2aa2cf;
	color: #fff;
	font-size: 1.25em;
	padding: 5px;
}
.offer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.offer ul li{
	padding: 5px 10px;
}
.offer ul li:nth-child(2n){
	background-color: #dedede;
}
.offer ul li:nth-child(2n+1){
	background-color: #efefef;
}
.offer img{
	width: 100%;
	height:auto;
	vertical-align: top;
}
/**************************************************
Layout 2
**************************************************/
.main{
	width: 750px;
	float: left;
	margin-right: 30px;
}
.sidebar{
	width: 360px;
	float:left;
}
/**************************************************
Sidebar
**************************************************/
.sidebar form{
	background-color: #666;
	border-radius: 5px;
	color: #fff;
	padding-bottom: 30px;
	overflow: hidden;
}
.sidebar h1{
	margin: 0;
	font-size: 1.25em;
	background-color: #333;
	text-align: center;
	padding: 5px;
	border-bottom: 2px solid #2aa2cf;
}
.select-full{
	margin:30px;
	background-color: #333;
	border-radius: 5px;
	padding: 5px;
}
.select-full:after{
	content: " ";
	display: block;
	clear: both;
}
.select-full select{
	background-color: #333;
	color: #fff;
	border: 1px solid #fff;
	outline: none;
	float: left;
	padding: 1px 2px;
}
#destinatie{
	width: 100%;
}
.select-full label{
	width: 90px;
	float: left;
}
#luna_plecare, #luna_intoarcere{
	width: 120px;
}
#zi_plecare, #zi_intoarcere{
	width: 75px;
	margin-left: 5px;
}
.sidebar form p:last-child{
	margin: 0;
}
#cauta, .rezervare{
	background-color: #2aa2cf;
	border: 3px solid #333;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	width: 100px;
	display:block;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 2px 2px #999;
	text-align: center;
	text-decoration: none;
}
.rezervare{
	box-shadow: none;
	margin: 0;
}
#cauta:hover, .rezervare:hover{
	background-color: #2a82d2;
}
.frame{
	border: 1px solid #999;
	padding: 9px;
	border-radius: 5px;
	box-shadow: 0 12px 2px -10px #666;
}
.sidebar .frame{
	width: 340px;
	height:auto;
	margin-top: 30px;
}
/**************************************************
Excursii
**************************************************/
.ex-photo{
	float: left;
	width: 270px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.ex-text{
	float: left;
	width: 450px;
	margin-bottom: 30px;
}
.ex-photo img{
	width: 250px;
	height: auto;
}
.main h1{
	font-size: 1.25em;
	margin: 0;
	padding: 5px 0 8px;
	background-image: url(images/divider.png);
	background-repeat:repeat-x;
	background-position:left bottom;
}
.destinatie{
	list-style-image: url(images/list-location.png);
}
.durata{
	list-style-image: url(images/list-time.png);
}
.pret{
	list-style-image: url(images/list-price.png);
}
.bold{
	font-weight: bold;
}
.pret-vechi{
	text-decoration: line-through;
}
.pret-nou{
	font-size: 18px;
	font-weight: bold;
	color: #2aa2cf;
}
/**************************************************
Galerie foto
**************************************************/
.filters{
	font-weight: bold;
	margin: 30px 0;
}
.filters a{
	background-color: #eaeaea;
	color: #000;
	text-decoration: none;
	padding: 2px 5px;
	border-radius: 5px;
}
.filters .selected{
	background-color: #2aa2cf;
	color: #fff;
}
.filters a:hover{
	background-color: #2a82d2;
	color: #fff;
}
.image{
	float: left;
	width: 230px;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
}
.image img{
	width: 210px;
	height: auto;
}
.image p{
	background-color: #666;
	background-color: rgba(102, 102, 102, 0.75);
	color: #fff;
	font-weight: bold;
	position: absolute;
	bottom: 13px;
	left: 10px;
	margin: 0;
	padding: 5px 10px;
	width: 190px;
	display: none;
}
.image:hover p{
	display: block;
}
.overlay{
	position: fixed;
	width: 100%;
	height:100%;
	/*min-width: 1140px;*/
	left: 0px;
	top: 0px;
	z-index: 10000;
	background-color: #999;
	background-color: rgba(153,153,153,0.7);
	display: none;
}
.overlay img{
	position: absolute;
	z-index: 10001;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border: 3px solid #333;
	padding: 10px;
	border-radius: 10px;
}
/**************************************************
Contact
**************************************************/
iframe{
	margin-bottom: 30px;
}
.adresa{
	list-style-image: url(images/contact-location.png);
}
.telefon{
	list-style-image: url(images/contact-phone.png);
}
.email{
	list-style-image: url(images/contact-mail.png);
}
.email a{
	text-decoration: none;
	color: #000;
}
.label{
	width: 80px;
	float: left;
}
.main form input[type="text"], .main form input[type="email"], .main form input[type="tel"], .main form textarea{
	width: 300px;
	border: 1px solid #333;
}
.main form textarea{
	resize: none;
	height: 75px;
}
.main form select{
	border: 1px solid #333;
}
#trimite, #reset{
	display: inline-block;
}
.error{
	background-color: #f2dede;
	border: 3px solid #dca7a7;
	color: #a94442;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 10px;
}
